

/*--------------------general styles ----------------- */
input[type=checkbox], input[type=radio] {
    margin: -5px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

.button
{

	background: #34434;
}
h1{

	font-size: 30px;
}

h3{

	font-size: 15px;
	float: right;
	color: #D82923;
}
.new-subtitle{
	font-size: 35px;
	float:none;
	text-align: center;
}
.head-title{
	float: none;
	text-align: center;
}
div.hdtle {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    
}


div.formbdy {
    width: 100%;
    height: 100%;
    border: #DEDEDE 5px solid;
    padding: 2%;
    padding-bottom: 55px;
    position: center;
}


.row{
	margin-left: 2%;
    margin-right: 2%;
}
.cert1{
	margin-bottom: 20px;
}
.cert2{
	margin-bottom: 60px;
}
.cert1, .cert2{
	font-weight: bolder;
}
img{
    
    top: 0px;
	width: auto;
	height: auto;
	float: right;
	 margin: 30px;
}

.info-category{
	/*border-radius: 3px;*/
	display: block;
	margin-bottom: 3px;
	content: "";
	/*border:1px solid #ccc;*/
	margin-left: -5.5px;
    width: 100%;
    padding: 5px;
}
/*.cat{
	border:none;
}*/
input{

	/*width: 100%;
    height: 35px;
    border: 1px solid #DEDEDE;*/


	height: 30px;
	text-align: center;
	float:right;
	width: 45%;
}
select{

	width: 45%;
    height: 35px;
    border: 1px solid #DEDEDE;
    float:right;

	/*height: 30px;
	float: right;
    width: 174px;
    padding:0% 70%;*/
}
h5{
	float:left;
	font-weight: bolder;
}
span{
	/*float: left;*/
    margin-left: 20px;
    margin-top: 6px;
    font-size: 15px;
}
#examiner-name{
	text-decoration-style: dotted;
	-webkit-text-decoration-style:dotted;
	-o-text-decoration-style:dotted;
}
.btn-primary{
	background-color: #C81B13;
	border-color: #C81B13;
}
.btn-primary:hover{
	background-color: #C81B13;
	border-color: #C81B13;
	opacity: .7;
	transition: opacity .3ms ease-in-out;
}